<div class= "row">
  <div class="text-center">
    <h2>Welcome To The</h2>
    <h1>Anagram Generator</h1>
  </div>
</div>

<form action="/" method="post" class ="form-group" class="text-center">
  <div class= "row">
      <div class="text-center">
        <label id="prompt" for="word">Enter a word</label>
      </div>
  </div>
  <div class= "row">
    <div class="text-center">
      <input class="form-control input-lg col-md-offset-4" type="text" name="word">
    </div>
  </div>

  <div class= "row">
    <div class="text-center">
      <input type="submit" class="form-control btn-lg col-md-offset-4" value="Show Me My Anagrams!">
    </div>
  </div>
</form>
