<h1 class="text-center">Anagrams For The Word <em id="input"> <%= "#{@word}" %></em></h1>
<h3 class="text-center">Your word has <%= "#{@length}" %> characters.</h3>
<h3 class="text-center">There are <%= "#{@perms}" %> permutations for your chosen word.</h3>
<ul class="text-center">
  <% @list.each do |x| %>
    <li class="list"><%= x %></li>
  <% end %>
</ul>
