<h1>Anagrams for <%= "#{@word}" %></h1>
<h3>Your word has <%= "#{@length}" %> characters.</h3>
<h3>There are <%= "#{@perms}" %> permutations for your chosen word.</h3>
<ul>
  <% @anagram_results.each do |x| %>
    <li><%= x %></li>
  <% end %>
</ul>
